.App {
  text-align: center;
  /* border: solid black; */
  height: 500vh;
  margin:2em;
  /* display:flex; */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  /* background-color: #282c34; */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.header{
  /* border:solid red; */
  font-size: 50px;
  padding: 10px;
  color: red;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 200;
  text-align: left;
  padding-left: 20px;

}
.sub-header{
  /* border: solid black; */
  text-align: left;
  padding: 5px;
  padding-left: 20px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 18px;
  padding-top: 0;
}
.navbar{
  /* border: solid blue; */
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
  padding-left: 10px;
  
}
.navbar a{
  /* text-decoration: none; */
  color: gray;
  padding: 5px 10px;
}
.dataone{
  /* border: solid black; */
  height: 800px;
  
}
.dataone-image {
  max-width: 100%;
  height: 47%;
  /* float: left; */
  padding-left: 20px;
  /* border: solid red; */
  display: flex;
}
.datatxt{
  /* border: solid blue; */
  /* display: flex; */
  text-align: left;
  font-size: 25x;
  line-height: 1.5;
  color: gray;
  font-weight: 400;
  
}
.dataone h3{
  /* border: solid green; */
  justify-content: left;
  padding-left: 20px;
  display: flex;
  font-weight: 100;
}
.dataone h2{
  /* border: solid green; */
  justify-content: left;
  padding-left: 20px;
  display: flex;
  font-weight: 400;
}
/* .large-first-letter p::first-letter {
  font-size: 3em; 
  font-weight: bold; 
  
} */
.first-letter {
  font-size: 4em; /* Adjust the size as needed */
  font-weight: bold; /* Make the first letter bold */
}